<article class="items">
  <div class="icons">
    <button class ="addcart" id={{ cart }}><i class="fas  fa-cart-plus"></i></button>
  </div>
  <div class="content">
      <p class="info"><a href="#" class="logo">
          {{ brand }}</a> | {{ name }}
        </p>
      <img class="item" src={{photo}} />
      <div class = "tag">
        <p class="p_tag">{{ tag1 }}</p>
        <p class="p_tag">{{ tag2 }}</p>
        <p class="p_tag">{{ tag3 }}</p>
      </div>
      <p class="price">
      <a href="#" class="price">{{price}}</a>
    </p>
  </div>
</article>
